<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
*{
  margin: 0;
            }

body{
  display: flex ;
  justify-content: center;
  align-items: center;
  padding: 300px;
  background-image: url(back.jpeg);
}
.login-container h1{
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Merriweather', serif;
  border: 500000px;
  PAA
  margin: 0;

}

.user{
  padding-bottom: 10px;
  justify-content: center;
  border-radius: 500px;

}
 .but{
  padding-left: 60px;
 padding-top: 20px;
 
 }
 